@import url('https://fonts.googleapis.com/css?family=Poppins:200,400,600&display=swap');

:root {
    --titles: hsl(234, 12%, 34%);
    --description: hsl(229, 6%, 66%);
    --supervisor: hsl(180, 62%, 55%);
    --team: hsl(0, 78%, 62%);
    --karma: hsl(34, 97%, 64%);
    --calculator: hsl(212, 86%, 64%);
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-color: #fff;
}

.header-container {
    display: flex;
    flex-direction: column;
    margin: 5%;
    text-align: center;
}

#title, #subtitle{
    margin: 0;
}

#title {
    font-size: 1.5rem;
    font-weight: 200;
    color: var(--titles);
}

#subtitle {
    font-size: 1.5rem;
    font-weight: 600;
}

#description {
    font-size: 1rem;
    font-weight: 200;
    color: var(--description);
}

.card-container {
    display: flex;
    flex-direction: column;
}

.card{
    margin: 0 20px 20px 20px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.10), 0 15px 12px rgba(0,0,0,0.20);
    border-radius: 7px;
    padding: 10px 15px;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    display: flex;
    flex-direction: column;
}

.card h3 {
    color: var(--titles);
    font-size: 1.2rem;
}

.card p{
    color: var(--description);
    font-size: 0.95rem;
    margin-top: 5px;
}

.card img {
    align-self: flex-end;
}

#supervisor {
    border-top: var(--supervisor);
    border-style: solid;
    border-width: 5px 0 0 0;   
}

#team-builder {
    border-top: var(--team);
    border-style: solid;
    border-width: 5px 0 0 0;
}

#karma{
    border-top: var(--karma);
    border-style: solid;
    border-width: 5px 0 0 0;
}

#calculator{
    border-top: var(--calculator);
    border-style: solid;
    border-width: 5px 0 0 0;
}

@media (min-width: 801px) {
    .header-container {
        margin-bottom: 1%;
    }

    #title {
        font-size: 2.4rem;
    }

    #subtitle {
        font-size: 2.5rem;
    }
    
    #description {
        font-size: 1.2rem;
    }

    .card-container {
       flex-direction: row;
       align-items: center;
       margin: 0 100px;
    }

    .card h3 {
        font-size: 1.2rem;
    }
    
    .card p {
        font-size: 1.1rem;
    }

    #supervisor, #calculator {
        flex: 1 1 500px;
    }
} 